html, body {
	margin: 0;
	padding: 0;
}
header
{
	border-bottom: 2px solid;
	margin-bottom: 1em;
	display: inline-block;
	padding: 0.5em;
	width: 100%;
}
header a
{
	text-decoration: none;
	color: black;
}
header span
{
	vertical-align: middle;
	font-weight: bold;
	font-size: 2em;
	margin: 0;
}
article
{
	margin: auto;
	width: 70%;
}
footer
{
	text-align: center;
	margin-top: 1em;
}
footer a
{
	text-decoration: none;
	color: black;
}
footer a:hover
{
	text-decoration: underline;
}
#logo
{
	vertical-align: middle;
	height: 2em;
	width: 2em;
}
